
<div class="col-sm-6 mx-auto">
    <h4>Users List</h4>

    <app-message-box type="error">
        This is a demo error message
    </app-message-box>

    <app-message-box *ngIf="!users || users.length===0" type="info">
        <strong>No records available</strong>
    </app-message-box>

    <table *ngIf="users && users.length>0" class="table table-border table-hover">
        <thead>
            <tr>
                <th>User#</th>
                <th>Name</th>
                <th>Email Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td class="text-right">{{u.userId|number:'3.0-0'}}</td>
                <td class="text-left">{{u.name|uppercase}}</td>
                <td class="text-center">{{u.email|lowercase}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="remove(u.userId)">
                        DELETE
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
