
<h3>Compute </h3>

<form>
    <label>Operand1: <input type="number" name="t1" [(ngModel)]="n1"/></label>
    <label>Operand2: <input type="number" name="t2" [(ngModel)]="n2"/></label>
    <select [(ngModel)]="operation" name="s1">
        <option *ngFor="let o of operations" [value]="o">{{o}}</option>
    </select>
</form>

<p [ngSwitch]="operation"> 
    {{operation}} of {{n1}} and {{n2}} is 
    <span *ngSwitchCase="'sum'"><strong>{{n1+n2}}</strong></span>
    <span *ngSwitchCase="'dif'"><strong>{{n1-n2}}</strong></span>
    <span *ngSwitchCase="'prd'"><strong>{{n1*n2}}</strong></span>
    <span *ngSwitchCase="'qut'"><strong>{{n1/n2}}</strong></span>
    <span *ngSwitchCase="'rem'"><strong>{{n1%n2}}</strong></span>
</p>
