<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <a class="navbar-brand" routerLink="/">Budget Tracking App</a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addUser" routerLinkActive="active">New User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addUser2" routerLinkActive="active">New User Reactive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/series" routerLinkActive="active">Observable Demo</a>
    </li>
  </ul>
</nav>
<main class="container-fluid p-4">
  <router-outlet></router-outlet>
</main>