<h4>Pipes Demo</h4>

<p>
    Original :<strong>{{str}}</strong>  <br />
    {{str|uppercase}}<br />
    {{str|lowercase}}<br />
    {{str|titlecase}}
</p>

<p>
    Original: <strong>{{today}}</strong> <br />
    {{today|date:'short'}} <br />
    {{today|date:'long'}} <br />
    {{today|date:'dd-MM-yyyy'}} <br />
    {{today|date:'dd-MMM-yyyy'}} <br />
    {{today|date:'dd-MMMM-yyyy'}} <br />
    {{today|date:'dd-MMMM-yyyy hh:mm:ss a'}} <br />
    {{today|date:'dd-MMMM-yyyy HH:mm:ss'}} 
</p>

<p>
    Original:<strong>{{num}}</strong><br />
    {{num|number:'4.0-0'}}<br />
    {{num|number:'4.2-4'}}<br />
    {{num|number:'10.4-5'}}
</p>

<p>
    Original:<strong>{{num}}</strong><br />
    {{num|currency:'INR'}}<br />
    {{num|currency:'USD'}}<br />
    {{num|currency:'GBP'}}<br />
    {{num|currency:'JPY'}}<br />
    {{num|currency:'AUD'}}<br />
    {{num|currency:'XYZ'}}
</p>
